.main_section {
  width: 100%;
  padding: 1rem 0 3rem;
  position: relative;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.col {
  max-width: 100%;
}
