.main_section {
  width: 100%;
  padding: 1rem 0 3rem;
  position: relative;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.col {
  max-width: 490px;
}

.title {
  margin-bottom: 1.5rem;
}

.description {
  margin-bottom: 2rem;
}

.search_input {
  margin-bottom: 2rem;
}

.list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.slider {
  max-width: 680px;
  position: absolute;
  right: 0;
  bottom: -3rem;
}

.slide {
  background-color: var(--color-white);
  border-radius: 32px;
  padding: 24px;
  max-width: max-content;
}
