.root {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: var(--color-lilac);
}

.h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
  text-transform: capitalize;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
}

.h1 span {
  color: transparent;
}

.h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  color: var(--color-blue);
  text-transform: capitalize;
}

.white {
  color: var(--color-white);
}

.blue {
  color: var(--color-blue);
}

.orange {
  color: var(--color-orange);
}

.light-lilac {
  color: var(--color-light-lilac);
}

.light {
  color: var(--color-light);
}

.lilac {
  color: var(--color-lilac);
}

.green {
  color: var(--color-green);
}

.light-green {
  color: var(--color-light-green);
}

.dark-blue {
  color: var(--color-dark-blue);
}

.dark-lilac {
  color: var(--color-dark-lilac);
}

.gray {
  color: var(--color-gray);
}

.weight400 {
  font-weight: 400;
}

.weight500 {
  font-weight: 500;
}

.weight600 {
  font-weight: 600;
}

.weight700 {
  font-weight: 700;
}
